<template #customItemTemplate let-model="item" let-index="index">
  <span class="{{css.icon}}">
    <i [ngClass]="['fa', model.types.indexOf('country') !== -1 ? 'fa-globe' : 'fa-map-marker']"></i>
  </span>
  {{model.name}}
</template>

<div class="{{css.container}}">
  <input
    type="text"
    [attr.id]="inputId"
    [attr.placeholder]="placeholder"
    autocomplete="off"
    [ngClass]="['form-control', className]"
    (blur)="onBlur()"
    [ngModel]="input"
    (ngModelChange)="inputChange($event)"
    [typeahead]="dataSource"
    (typeaheadLoading)="changeTypeaheadLoading($event)"
    (typeaheadNoResults)="changeTypeaheadNoResults($event)"
    (typeaheadOnSelect)="typeaheadOnSelect($event)"
    [typeaheadOptionField]="'name'"
    [typeaheadItemTemplate]="customItemTemplate"
    #inputEl
  >
</div>
