<div class="l-loadable" [class.l-loadable--fullsize]="fullSize">

  <template [ngIf]="!loading || displayContent">
    <div
      [class.l-loadable--fullsize]="fullSize"
      [class.l-loadable__muted]="loading"
    >
      <ng-content></ng-content>
    </div>
  </template>

  <template [ngIf]="error || loading">
    <div
      [class.l-loadable--fullsize]="fullSize"
      [class.l-overlay]="displayContent"
    >
      <div class="l-va l-va--ver l-va--hor">
        <div class="l-va__middle text-xs-center">

          <template [ngIf]="!error && loading">
            <l-loading></l-loading>
          </template>

          <template [ngIf]="error">
            <button
              *ngIf="allowReload"
              type="button"
              class="btn l-btn-transparent l-btn-muted"
              tooltip="Retry"
              (click)="$event.stopPropagation(); triggerReload()"
            >
              <i class="fa fa-refresh"></i>
            </button>

            <span>Undefined error</span>
          </template>

        </div>
      </div>
    </div>
  </template>

</div>
