<div>
  <select class="form-control" style="width: 100px" [(ngModel)]="locale">
    <option *ngFor="let item of locales" [attr.value]="item.code">{{item.name}}</option>
  </select>
</div>

<div class="m-t-1">
  <select class="form-control" style="width: 100px" [(ngModel)]="currency">
    <option *ngFor="let item of currencies" [attr.value]="item.code" [innerHtml]="item.symbol"></option>
  </select>
</div>
