<div class="p-y-1">
  <div class="clearfix">

    <div *ngIf="!isFirstStep" class="pull-sm-left">
      <button
        tabindex="-1"
        type="button"
        class="btn btn-link"
        (click)="prev()"
        i18n
      >l.step_actions.back</button>
    </div>

    <div class="pull-sm-right">
      <button
        *ngIf="!isLastStep"
        type="button"
        class="btn btn-primary"
        (click)="next()"
        [disabled]="!isNextStepAvailable"
        i18n
      >l.step_actions.next</button>
      <button
        *ngIf="isLastStep"
        type="button"
        class="btn btn-primary"
        (click)="doFinish()"
        [disabled]="!isNextStepAvailable"
        i18n
      >l.step_actions.finish</button>
    </div>

  </div>
</div>
