<form #form="ngForm" (ngSubmit)="doFormSubmit()">

  <div [class.hidden-xs-up]="step !== 1">
    <h1 class="m-b-2" i18n>l.trip.create_form.step_1.header</h1>

    <div class="form-group" [lControlWrapper]="from">
      <label for="tripCreateFrom" i18n>l.trip.create_form.from</label>
      <div>
        <l-location-autocomplete
          name="from"
          required
          inputId="tripCreateFrom"
          className="form-control-lg"
          i18n-placeholder
          placeholder="l.trip.create_form.location.placeholder"
          [(ngModel)]="model.from"
          #from="ngModel"
        ></l-location-autocomplete>
      </div>
      <l-control-error [control]="from"></l-control-error>
    </div>
    <div class="form-group" [lControlWrapper]="to">
      <label for="tripCreateTo" i18n>l.trip.create_form.to</label>
      <div>
        <l-location-autocomplete
          name="to"
          required
          inputId="tripCreateTo"
          className="form-control-lg"
          i18n-placeholder
          placeholder="l.trip.create_form.location.placeholder"
          [(ngModel)]="model.to"
          #to="ngModel"
          #toEl
        ></l-location-autocomplete>
      </div>
      <l-control-error [control]="to"></l-control-error>
    </div>
    <div class="form-group" [lControlWrapper]="departAt">
      <label for="tripCreateDepartAt" i18n>l.trip.create_form.depart_at</label>
      <div>
        <l-datetimepicker
          name="departAt"
          required
          inputId="tripCreateDepartAt"
          className="form-control-lg"
          [minDate]="minDate"
          [(ngModel)]="model.departAt"
          #departAt="ngModel"
        ></l-datetimepicker>
      </div>
      <l-control-error [control]="departAt"></l-control-error>
    </div>
    <div class="form-group" [lControlWrapper]="arriveAt">
      <label for="tripCreateArriveAt" i18n>l.trip.create_form.arrive_at</label>
      <div>
        <l-datetimepicker
          name="arriveAt"
          required
          inputId="tripCreateArriveAt"
          className="form-control-lg"
          [minDate]="minDate"
          [(ngModel)]="model.arriveAt"
          #arriveAt="ngModel"
        ></l-datetimepicker>
      </div>
      <l-control-error [control]="arriveAt"></l-control-error>
    </div>
  </div>

  <div [class.hidden-xs-up]="step !== 2">
    <h1 class="m-b-2" i18n>l.trip.create_form.step_2.header</h1>

    <div class="form-group">
      <label for="tripCreateVehicle" i18n>l.trip.create_form.vehicle</label>
      <div>
        <div class="btn-group btn-group-lg" id="tripCreateVehicle" role="group">
          <button
            type="button"
            class="btn btn-secondary"
            [class.active]="model.vehicle === 'car'"
            (click)="model.vehicle = 'car'"
          >
            <i class="fa fa-car"></i>
            <span i18n>l.trip.create_form.vehicle.car</span>
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            [class.active]="model.vehicle === 'train'"
            (click)="model.vehicle = 'train'"
          >
            <i class="fa fa-train"></i>
            <span i18n>l.trip.create_form.vehicle.train</span>
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            [class.active]="model.vehicle === 'plane'"
            (click)="model.vehicle = 'plane'"
          >
            <i class="fa fa-plane"></i>
            <span i18n>l.trip.create_form.vehicle.plane</span>
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            [class.active]="model.vehicle === 'ship'"
            (click)="model.vehicle = 'ship'"
          >
            <i class="fa fa-ship"></i>
            <span i18n>l.trip.create_form.vehicle.ship</span>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group" [lControlWrapper]="description">
      <label for="tripCreateDescription" i18n>l.trip.create_form.description</label>
      <div>
        <textarea
          name="description"
          id="tripCreateDescription"
          class="form-control form-control-lg"
          rows="5"
          [(ngModel)]="model.description"
          #description="ngModel"
        ></textarea>
        <div class="form-text">
          <i class="fa fa-info-circle"></i>
          <span i18n>l.trip.create_form.description.information</span>
        </div>
      </div>
      <l-control-error [control]="description"></l-control-error>
    </div>
  </div>

  <div [class.hidden-xs-up]="step !== 3">
    <h1 class="m-b-2" i18n>l.trip.create_form.step_3.header</h1>

    <div class="form-group" [lControlWrapper]="maxResponseDelayHourly">
      <label for="tripCreateMaxResponseDelayHourly" i18n>l.trip.create_form.max_response_delay_hourly</label>
      <div class="form-inline">
        <select
          name="maxResponseDelayHourly"
          id="tripCreateMaxResponseDelayHourly"
          class="form-control form-control-lg"
          [(ngModel)]="model.maxResponseDelayHourly"
          #maxResponseDelayHourly="ngModel"
        >
          <option
            *ngFor="let item of maxResponseDelaysHourly"
            [value]="item"
            i18n
          >{{item}} {item, plural, =1 {hour} other {hours}}</option>
        </select>
      </div>
      <l-control-error [control]="maxResponseDelayHourly"></l-control-error>
    </div>
  </div>

</form>
