<l-trip-create-header [step]="step" [stepsCount]="stepsCount"></l-trip-create-header>

<div class="container {{css.container}}">
  <div class="row">
    <div class="col-sm-6">

      <l-response-error *ngIf="error" [error]="error"></l-response-error>

      <l-trip-create-form
        [model]="message"
        [errors]="error ? error.errors : null"
        [(step)]="step"
        (formSubmit)="load()"
        #tripCreateForm
      ></l-trip-create-form>

    </div>
  </div>
</div>

<div class="{{css.actionsContainer}}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 {{css.actions}}">

        <l-loadable [loading]="loading" [displayContent]="true">
          <l-step-actions
            [(step)]="step"
            [stepsCount]="stepsCount"
            [isNextStepAvailable]="tripCreateForm.isNextStepAvailable()"
            (finish)="tripCreateForm.doFormSubmit()"
          ></l-step-actions>
        </l-loadable>

      </div>
    </div>
  </div>
</div>
