.container {
  padding: 6rem 0;
}

.actionsContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.actions {
  background: #fff;
  border-top: 1px solid transparentize(#000, 0.875);
}
