.container {
  border-bottom: 1px solid transparentize(#000, 0.9);
  border-radius: 0;
  background-color: #fff;
}

.step {
  padding-top: 0.5rem;
}

.progressContainer {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.progress {
  height: 6px;
  background-color: #eee;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.bar {
  height: 100%;
  background-color: #6d87a2;
  transition: all .4s ease-in-out;
}
