<nav class="navbar navbar-fixed-top navbar-light {{css.container}}">

  <a class="navbar-brand" routerLink="/">Livery</a>

  <div class="pull-sm-left m-l-2 {{css.step}}">
    <span i18n>l.trip.create.header.step {{step}}</span>

    <span [ngSwitch]="step">
      <span *ngSwitchCase="1" i18n>l.trip.create.header.step_1</span>
      <span *ngSwitchCase="2" i18n>l.trip.create.header.step_2</span>
      <span *ngSwitchCase="3" i18n>l.trip.create.header.step_3</span>
    </span>
  </div>

  <div class="{{css.progressContainer}}">
    <div class="{{css.progress}}">
      <div class="{{css.bar}}" [ngStyle]="{ width: barWidth + '%' }"></div>
    </div>
  </div>

</nav>
