<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="form-group" [class.has-danger]="!username.pristine && !username.valid">
    <label for="_username">Username</label>
    <input
      type="text"
      class="form-control"
      id="_username"
      name="_username"
      required
      [(ngModel)]="model.username"
      #username="ngModel"
    >
    <div class="text-danger" *ngIf="!username.pristine && username.errors">{{username.errors|json}}</div>
  </div>
  <div class="form-group" [class.has-danger]="!password.pristine && !password.valid">
    <label for="_password">Password</label>
    <input
      type="password"
      class="form-control"
      id="_password"
      name="_password"
      required
      [(ngModel)]="model.password"
      #password="ngModel"
    >
    <div class="text-danger" *ngIf="!password.pristine && password.errors">{{password.errors|json}}</div>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!form.form.valid">Sign in</button>
</form>
