<div class="container p-y-2">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3">
      <h1 class="m-b-2">Login</h1>

      <l-auth-form></l-auth-form>
    </div>
  </div>
</div>
