<div class="form-inline">

  <input
    type="text"
    [ngClass]="[className, 'form-control', css.input]"
    [attr.id]="inputId"
    [placeholder]="dateFormat"
    (blur)="onBlur()"
    [lDatepicker]="date"
    [lDatepickerOptions]="{ format: dateFormat, minDate: minDateNormalized }"
    (lDatepickerChange)="onDateChange($event)"
    #inputEl
  >

  <select
    [ngClass]="[className, 'form-control']"
    [(ngModel)]="hour"
    [disabled]="!date"
  >
    <option *ngFor="let i of hours" [value]="i">{{i < 10 ? '0' + i : i}}</option>
  </select>

  <span>:</span>

  <select
    [ngClass]="[className, 'form-control']"
    [(ngModel)]="minute"
    [disabled]="!date"
  >
    <option *ngFor="let i of minutes" [value]="i">{{i < 10 ? '0' + i : i}}</option>
  </select>

</div>
