<select class="form-control" [(ngModel)]="day" [attr.id]="inputId">
  <option *ngFor="let item of days" [value]="item">{{item}}</option>
</select>
<select class="form-control" [(ngModel)]="month">
  <option *ngFor="let item of months" [value]="item">{{monthNames[item - 1]}}</option>
</select>
<select class="form-control" [(ngModel)]="year">
  <option *ngFor="let item of years" [value]="item">{{item}}</option>
</select>
