<div class="input-group {{css.container}} {{className}}">

  <input
    [attr.id]="inputId"
    type="text"
    class="form-control text-right {{inputClassName}}"
    placeholder="0"
    [(ngModel)]="integer"
  />

  <span class="input-group-addon {{css.separator}}">{{separator}}</span>

  <input
    type="text"
    class="form-control {{inputClassName}}"
    placeholder="00"
    [(ngModel)]="fraction"
  />

</div>
