#{{ ansible_managed }}

server {
    listen 80;
    server_name api.livery.dev media.livery.dev gateway.livery.dev;
    root /srv/app/web;

    location / {
        sendfile off;
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /app.php/$1 last;
    }

    location ~ ^/(app|app_dev|app_behat)\.php(/|$) {
        fastcgi_pass unix:/var/run/php-fpm.app.sock;
        fastcgi_param VAGRANT 1;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
        fastcgi_buffer_size 128k;
        fastcgi_buffers 256 16k;
        fastcgi_busy_buffers_size 256k;
        fastcgi_temp_file_write_size 256k;
        fastcgi_read_timeout 120s;
        fastcgi_max_temp_file_size 0;
    }

    access_log /var/log/nginx/livery.access.log main;
    error_log /var/log/nginx/livery.error.log;
}

server {
    listen 80;
    server_name livery.dev;
    root /srv/app/web/client;

    location / {
        sendfile off;
        expires -1;
        add_header Pragma "no-cache";
        add_header Cache-Control "no-store, no-cache, must-revalidate, post-check=0, pre-check=0";
        try_files $uri /index.html =404;
    }

    # @todo: redirect to the /index.html
    location ~ ^/.+\.php {
        deny all;
    }

    access_log /var/log/nginx/livery.access.log main;
    error_log /var/log/nginx/livery.error.log;
}
