$btn-muted-color: #000;

.l-btn {
  &-transparent {
    padding: 0;
    line-height: 1;

    &, &:hover, &:active, :focus, :disabled {
      border: none;
      background: transparent;
    }
  }
  &-muted {
    color: lighten($btn-muted-color, 30%);

    &:hover {
      color: $btn-muted-color;
    }
  }
}

.l-hoverable {
  display: none;

  &-area:hover & {
    display: block;
  }
}

.l-va {
  display: table;
  position: relative;

  &--ver {
    height: 100%
  }
  &--hor {
    width: 100%
  }

  %va-align {
    display: table-cell;
  }

  &__top {
    @extend %va-align;
    vertical-align: top;
  }
  &__middle {
    @extend %va-align;
    vertical-align: middle;
  }
  &__bottom {
    @extend %va-align;
    vertical-align: bottom;
  }
}

.l-loadable {
  position: relative;

  &--fullsize {
    width: 100%;
    height: 100%;
  }

  &__muted {
    opacity: 0.3;
  }
}

// @todo: use .text-truncate instead
.l-truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.l-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.l-centered {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}

.l-editable {
  cursor: pointer;
  text-decoration: underline;
}

.l-image {
  background-repeat: no-repeat;
}

.l-number-input {
  display: inline-block;
  width: 5em !important;
  font-family: Arial, Helvetica, sans-serif; // same width of digits

  &-lg {
    width: 6em !important;
  }
}

.l-break-word {
  word-wrap: break-word;
}

.l-thumbnail {
  overflow: hidden;
  border-radius: 50%;
}

.l-hidden-link {
  text-decoration: none;
  color: inherit !important;
}

.l-small-text {
  font-size: 0.9em;
}

// @todo: make font-size in the .header span dynamically based on text length with some limits
// <some class like truncated>
