<div class="{{css.header}}" [class.hidden-xs-up]="pageOptions.hideHeader">
  <l-header [user]="user" [type]="pageOptions.header"></l-header>
</div>

<div class="{{css.content}}">
  <l-flash-list></l-flash-list>

  <ng-content></ng-content>
</div>

<div [class.hidden-xs-up]="pageOptions.hideFooter">
  <l-footer></l-footer>
</div>

<div bsModal class="modal fade" #authModal="bs-modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="authModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Authenfication</h4>
      </div>
      <div class="modal-body">
        <l-small-auth-form (logged)="authModal.hide()"></l-small-auth-form>
      </div>
    </div>
  </div>
</div>
