<nav class="navbar navbar-light p-y-1">

  <a class="navbar-brand" routerLink="/">Livery</a>

  <div class="pull-sm-right">
    <l-userbar [user]="user"></l-userbar>
  </div>

  <div class="pull-xs-right m-r-3">
    <a
      class="btn btn-outline-primary pull-left"
      routerLink="/trips/create"
      i18n
    >l.header.home.create_trip</a>
  </div>

</nav>
