<template [ngIf]="user">
  <a href="#" #dropTrigger>
    <div class="{{css.photo}} img-circle">
      <l-thumbnail [image]="user.picture" type="profile_small" size="36"></l-thumbnail>
    </div>
  </a>

  <l-drop [target]="dropTrigger" [options]="{ position: 'bottom right', tetherOptions: { offset: '-5px -12px' } }" #drop>
    <div class="{{css.drop}} p-a-1">
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link {{css.navLink}}"
            href="#"
            (click)="$event.preventDefault(); drop.close()"
            i18n
          >l.header.userbar.menu.profile</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {{css.navLink}}"
            href="#"
            (click)="$event.preventDefault(); drop.close()"
            i18n
          >l.header.userbar.menu.account</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {{css.navLink}}"
            href="#"
            (click)="$event.preventDefault(); drop.close(); logout()"
            i18n
          >l.header.userbar.menu.logout</a>
        </li>
      </ul>
    </div>
  </l-drop>
</template>

<template [ngIf]="!user">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
        (click)="$event.preventDefault();"
        i18n
      >l.header.userbar.menu.register</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
        (click)="$event.preventDefault(); showAuthForm()"
        i18n
      >l.header.userbar.menu.login</a>
    </li>
  </ul>
</template>
